<h4>{{ service.Title }}</h4>
<p>Seconds {{ service.Seconds | async }}</p>
<p>Seconds {{ (service.SecondsCass | async).seconds }}</p>
<p>Minutes {{ (service.SecondsCass | async).minutes }}</p>
<p>Double Seconds {{ doubleSeconds | testPipes:4 }}</p>

<div [ngStyle]="{ 'background-color': 'blue', 'color': 'white', 'width': wid}">
    Clock
</div>

<div style="color: red;" *ngIf="(service.Seconds | async) % 2 != 0">
    Dispari!
</div>

<div style="color: blue;" *ngIf="(service.Seconds | async) % 2 == 0">
    Pari!
</div>

<div style="background-color: silver; width: 200px; height: 20px; line-height: 20px; text-align: center;" (click)="reset()">
Reset
</div>

<button mat-raised-button color="primary" (click)="getPosts()">
    Posts
</button>


<div>

    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let post of posts; let i = index">
            <mat-icon mat-list-icon>check_circle</mat-icon>
            {{i+1}}) {{post.id}} - {{ post.title }}
            <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

    <p>Somma indici: {{ posts | testSum }}</p>
</div>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>